{% block content %}
<div class="layout_default block{% if jobOffer.cssClass %} {{ jobOffer.cssClass }}{% endif %}">
    {% block image %}
        {% if 'image' in parts %}
            <div class="image">
                {{ jobOfferMeta.image|raw }}
            </div>
        {% endif %}
    {% endblock %}
    <div class="first-column">
        {% block headline %}
            <{{ headlineUnit }} class="title">
                <a href="{{ link }}">{{ jobOfferMeta.title|raw }}</a>
            </{{ headlineUnit }}>
        {% endblock %}
        {% block company %}
            {% if 'company' in parts %}
            <div class="organizations">
                {{ jobOfferMeta.company }}
            </div>
            {% endif %}
        {% endblock %}
        {% block location %}
            {% if 'jobLocation' in parts %}
            <div class="job-location">
                {{ jobOfferMeta.addressLocalityFormatted }}
            </div>
            {% endif %}
        {% endblock %}
        {% block teaser %}
            {% if 'teaser' in parts %}
            <div class="job-teaser">
                {{ jobOfferMeta.teaser|raw }}
            </div>
            {% endif %}
        {% endblock %}
    </div>
    {% block publicationDate %}
        {% if 'publicationDate' in parts or 'employmentType' in parts %}
        <div class="second-column">
            {% if 'publicationDate' in parts %}
            <div class="publication-date">
                {{ jobOfferMeta.publicationDateFormatted }}
            </div>
            {% endif %}
            {% if 'employmentType' in parts %}
            <div class="employment-type">
                {{ jobOfferMeta.employmentTypeFormatted }}
            </div>
            {% endif %}
        </div>
        {% endif %}
    {% endblock %}
</div>
{% endblock %}