<div id="plentaJobsInfoPanel">
    <div class="tl_info plenta-wrapper">
        <div class="plenta-box">
            Plenta Jobs (Basic) {{ version }}
        </div>
        <div class="plenta-box last">
            <a href="https://github.com/plenta/contao-jobs-basic-bundle/issues" title="{{ 'MSC.PLENTA_JOBS.DASHBOARD.report_error'|trans({}, 'contao_default') }}" target="_blank">{{ 'MSC.PLENTA_JOBS.DASHBOARD.report_error'|trans({}, 'contao_default') }}</a> - <a href="https://plenta.io/contao-erweiterungen/jobs-basic?utm_source=contao-backend&utm_medium=link&utm_campaign=plenta-jobs-basic&utm_content=info-message-block&utm_term=documentation" title="{{ 'MSC.PLENTA_JOBS.DASHBOARD.documentation'|trans({}, 'contao_default') }}" target="_blank">{{ 'MSC.PLENTA_JOBS.DASHBOARD.documentation'|trans({}, 'contao_default') }}</a> - <a href="https://github.com/sponsors/plenta" title="{{ 'MSC.PLENTA_JOBS.DASHBOARD.sponsor'|trans({}, 'contao_default') }}" target="_blank">{{ 'MSC.PLENTA_JOBS.DASHBOARD.sponsor'|trans({}, 'contao_default') }}</a>
        </div>
    </div>
</div>